flask
flask-cors
flask-limiter
requests
beautifulsoup4
lxml
fake-useragent
selenium
webdriver-manager
supabase
langchain
langchain-google-genai
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
python-dotenv
tqdm
apscheduler
